<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DRM_X_4_AutomaticEncryptionTool.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
	
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="HaihaisoftLicenseServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="HaihaisoftLicenseServiceSoap1" />
        <binding name="HaihaisoftLicenseServiceSoap2">
          <security mode="Transport" />
        </binding>
        <binding name="HaihaisoftLicenseServiceSoap3" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://4.drm-x.com/haihaisoftlicenseservice.asmx" binding="basicHttpBinding" bindingConfiguration="HaihaisoftLicenseServiceSoap" contract="DRMX_EN.HaihaisoftLicenseServiceSoap" name="HaihaisoftLicenseServiceSoap" />
      <endpoint address="https://4.drm-x.cn/haihaisoftlicenseservice.asmx" binding="basicHttpBinding" bindingConfiguration="HaihaisoftLicenseServiceSoap2" contract="DRMX_CN.HaihaisoftLicenseServiceSoap" name="HaihaisoftLicenseServiceSoap1" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>

  <userSettings>
    <DRM_X_4_AutomaticEncryptionTool.My.MySettings>
      <setting name="RememberMe" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AdminEmail" serializeAs="String">
        <value />
      </setting>
      <setting name="EncryptedAuthString" serializeAs="String">
        <value />
      </setting>
      <setting name="SelectedRegion" serializeAs="String">
        <value>International</value>
      </setting>
    </DRM_X_4_AutomaticEncryptionTool.My.MySettings>
  </userSettings>
</configuration>